---
// TODO: the usage of type "tags" is wrong
import { tags } from '@/content/config';
import Layout from '@/layouts/Base.astro';
import { isNotNull } from '@/lib/utils';

const allPosts = await Astro.glob('../../content/posts/*.md');
const allEvents = await Astro.glob('../../content/events/*.md');

const postTags: tags = allPosts.map((post) => post.frontmatter.tags).flat();
const eventTags: tags = allEvents.map((event) => event.frontmatter.tags).flat();

const uniqTags: tags = [...new Set(postTags.concat(eventTags))]
  .filter(isNotNull)
  .sort();

const pageTitle = 'Tag Index';

// TODO: interface is unused
type Props = {
  tags: tags;
};

const bgColor = 'bg-blue-100';
const textColor = 'text-blue-800';
---

<Layout>
  <div>
    <ul>
      {
        uniqTags.map((tag) => (
          <li>
            <span
              class={`text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 ${bgColor} ${textColor}`}
            >
              <a class="text-blue-400" href={`/tags/${tag}`}>
                {tag}
              </a>
            </span>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
