---
// TODO: the usage of type "categories" is wrong
import Layout from '@/layouts/Base.astro';
import { Debug } from 'astro/components';
import { getCollection, type CollectionEntry } from 'astro:content';

// const allPosts = await Astro.glob('../../content/posts/*.md');
// const allEvents = await Astro.glob('../../content/events/*.md');

// TODO: select categories from data collection
// const postCategories: categories = allPosts
//   .map((post) => post.frontmatter.category)
//   .flat();
// const eventCategories: categories = allEvents
//   .map((event) => event.frontmatter.category)
//   .flat();

// const uniqCategories = [...new Set(postCategories.concat(eventCategories))]
//   .filter(isNotNull)
//   .sort();

const pageTitle = 'Tag Index';

// TODO: interface is unused
type Props = {
  categories: CollectionEntry<'category'>;
};

const categories = (await getCollection('category')).map((cat) => {
  // return cat.data;
  return cat.data;
});

const bgColor = 'bg-blue-100';
const textColor = 'text-blue-800';
---

<Layout>
  <div>
    <ul>
      {
        categories.map((category) => (
          <Debug {category} />
          // <li>
          //   <CategoryBadge category={category} _content="textAndIcon" />
          // </li>
        ))
      }
    </ul>
  </div>
</Layout>
