---
// TODO: the usage of type "categories" is wrong
import { categories } from '@/content/config';
import Layout from '@/layouts/Base.astro';
import { isNotNull } from '@/lib/utils';

const allPosts = await Astro.glob('../../content/posts/*.md');
const allEvents = await Astro.glob('../../content/events/*.md');

const postCategories: categories = allPosts
  .map((post) => post.frontmatter.category)
  .flat();
const eventCategories: categories = allEvents
  .map((event) => event.frontmatter.category)
  .flat();

const uniqCategories = [...new Set(postCategories.concat(eventCategories))]
  .filter(isNotNull)
  .sort();

const pageTitle = 'Tag Index';

// TODO: interface is unused
type Props = {
  categories: categories;
};

const bgColor = 'bg-blue-100';
const textColor = 'text-blue-800';
---

<Layout>
  <div>
    <ul>
      {
        uniqCategories.map((category) => (
          <li>
            <span
              class={`me-2 rounded px-2.5 py-0.5 text-xs font-medium ${bgColor} ${textColor}`}
            >
              <a class="text-blue-400" href={`/categories/${category}`}>
                {category}
              </a>
            </span>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
