---
import Layout from '../layouts/Base.astro';
import { url, asset } from '../lib/data.ts';

const { title, description } = Astro.props;
---

<Layout title={title} description={description}>
  <h1>Flowbite</h1>

  <table>
    <tr>
      <td>url("test/url")</td>
      <td>{url("test/url")}</td>
    </tr>
    <tr>
      <td>asset("test/asset.jpg")</td>
      <td>{asset("test/asset.jpg")}</td>
    </tr>
  </table>
</Layout>
