---
import Layout from '../layouts/Base.astro';
import SubNavbar from '@/components/SubNavbar.astro';
import { url, asset } from '../lib/data.ts';

import Carousel from '@/components/Carousel.astro';

const { title, description } = Astro.props;

const carouselImages = Array.from({ length: 5 }).map(
  (_, i) => `img/posts/placeholder-${i + 1}.jpg`,
);
---

<Layout title={title} description={description}>
  <SubNavbar slot="subnav" />

  <h2>Astro</h2>

  Helpers in <code>../lib/data.ts</code> as <code>dl</code> blocks.

  <div class="m-6 border border-gray-100">
    <dl class="divide-y">
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">
          url("test/url")
        </dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
          {url('test/url')}
        </dd>
      </div>

      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">
          asset("test/asset.jpg")
        </dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
          {asset('test/asset.jpg')}
        </dd>
      </div>
    </dl>
  </div>

  <h2>Flowbite</h2>

  <h3>Carousel</h3>

  <Carousel images={carouselImages} />
</Layout>
