---
import { COPYRIGHT } from '@/consts';
import { relUrl } from '@/lib/utils';
import { Icon } from 'astro-icon/components';

const today = new Date();
---

<footer class="px-2 py-4 text-center">
  <div class="social-links justify-center gap-4 flex mb-4">
    <!-- <Icon name="simple-icons:email"></Icon> -->
    <a href="mailto:info@makeroanoke.org">
      <span class="sr-only">Send E-Mail to MAKE Roanoke</span>
      <Icon name="mdi:email-fast-outline" size={32} aria-hidden="true" />
    </a>
    <a href="https://instagram.com/make_roanoke">
      <span class="sr-only">Follow MAKE Roanoke on Instagram</span>
      <Icon name="simple-icons:instagram" size={32} aria-hidden="true" />
    </a>
    <a href="https://facebook.com/make_roanoke">
      <span class="sr-only">Follow MAKE Roanoke on Facebook</span>
      <Icon name="simple-icons:facebook" size={32} aria-hidden="true" />
    </a>
    <a href={relUrl('rss.xml')}>
      <span class="sr-only">Subscribe on RSS</span>
      <Icon name="simple-icons:rss" size={32} aria-hidden="true" />
    </a>
  </div>
  &copy; {today.getFullYear()}
  {COPYRIGHT}
</footer>
<style>
  footer {
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
