---
import Button from '@/components/Button.astro';
import Layout from '@/layouts/Base.astro';
import { Icon } from 'astro-icon/components';

const intents = [undefined, 'primary', 'secondary', 'soft'];
const sizes = [undefined, 'md', 'sm'];
const icons = [
  'flowbite:check-outline',
  'flowbite:plus-outline',
  'flowbite:link-outline',
  'flowbite:calendar-plus-outline',
];

const { title, description } = Astro.props;
---

<Layout title={title} description={description}>
  <h3>Button Variants and Sizes</h3>
  {
    sizes.map((size) => (
      <div class="flex flex-row m-2">
        {intents.map((intent) => (
          <div class="m-2">
            <Button {...(intent && { intent })} {...(size && { size })}>
              {intent || 'default'} button
            </Button>
          </div>
        ))}
      </div>
    ))
  }
  <h3>Buttons With Icons</h3>
  <div class="flex flex-row m-2">
    {
      intents.map((intent, i) => (
        <div class="m-2">
          <Button {...(intent && { intent })} size="md">
            <Icon name={icons[i]} size={24} />
          </Button>
        </div>
      ))
    }
  </div>
  <h3>Buttons With And Text</h3>
  <div class="flex flex-row m-2">
    {
      intents.map((intent, i) => (
        <div class="m-2">
          <Button {...(intent && { intent })} size="md" _content="textAndIcon">
            {icons[i].split(':')[1]}
            <Icon name={icons[i]} size={24} />
          </Button>
        </div>
      ))
    }
  </div>
</Layout>
