---
import PostCard from '@/components/post/Card.astro';
import PostCardInset from '@/components/post/CardInset.astro';
import { type CollectionEntry } from 'astro:content';

type Props = {
  posts: [CollectionEntry<'posts'>];
};

const { posts } = Astro.props;
---

<style>
  /* ul.card-list li a:hover h4,
  ul li a:hover .date {
    color: rgb(var(--accent));
  }
  ul.card-list a:hover img {
    box-shadow: var(--box-shadow);
  } */
  foo {
  }
</style>
<!-- <PostCard post={post} /> -->
<article>
  <div class="title">
    <!-- <h1>{title}</h1> -->
  </div>
  <section class="grid grid-cols-1 gap-3 md:grid-cols-2">
    {
      posts.map((post) => (
        <>
          <PostCard post={post} />
          <PostCardInset post={post} />
        </>
      ))
    }
  </section>
</article>
