---
import PostCard from '@/components/post/Card.astro';
import { type CollectionEntry } from 'astro:content';

type Props = {
  posts: [CollectionEntry<'posts'>];
};

const { posts } = Astro.props;
---

<style>
  /* ul.card-list li a:hover h4,
  ul li a:hover .date {
    color: rgb(var(--accent));
  }
  ul.card-list a:hover img {
    box-shadow: var(--box-shadow);
  } */
  foo {
  }
</style>
<!-- <PostCard post={post} /> -->
<section class="grid md:grid-cols-2 grid-cols-1 gap-3">
  {posts.map((post) => <PostCard post={post} />)}
</section>
