<div class="card">
  <div class="card-header">
    <div class="card-headline">
      {{ include.n }}
      {{ include.event.title }}
    </div>
    <div class="card-indicators">
      <span>(+)</span>
    </div>
  </div>

  <div class="card-body">
    <div class="card-subhead">Subhead</div>
    <div class="card-subinfo">January 8, 2024</div>
  </div>
  <div class="card-footer">
    <div class="card-read-time">3 min read</div>
    <div class="card-read-more">
      <a href="{{ post.url | relative_url }}" class="more-link">
        {{ site.data.theme.t.read_more | default: 'Read More' }}
        <span class="icon icon--arrow-right">{% include icon-arrow-right.svg %}</span>
      </a>
    </div>
  </div>
</div>
