---
import { relUrl } from '@/lib/utils';
import type { CollectionEntry } from 'astro:content';

type Props = {
  person: CollectionEntry<'people'>;
  size: number;
};

const { person, size = 24 } = Astro.props;

// TODO: refactor
const avatarAlt = 'Default Avatar';
const personName = 'Post Author';
const contextText = 'Published 1/31/2024';
---

<div class="flex items-center gap-4">
  <img
    class:list={['h-10 w-10 rounded']}
    src={relUrl(person.data.headshot)}
    alt={person.data.name}
  />
  <div class="font-medium">
    <div>{person.data.name}</div>
    <div class="text-sm text-gray-500"><slot /></div>
  </div>
</div>
