---
import BaseHead from '../components/BaseHead.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Navbar />
    <slot name="subnav" />
    <main>
      <article>
        <div class="prose">
          <div class="title">
            <h1>{title}</h1>
          </div>
          <slot />
        </div>
      </article>
    </main>
    <Footer />
    <script>
      import 'flowbite';
    </script>
  </body>
</html>
